<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="satlaa.desijewellery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".adapter.MySingleton"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.Desi_Jewellery"
            android:label="@string/desi_jewellery"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".helper_activity.DJPhotos"
            android:label="@string/desi_jewellery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Emboss_Jewellery"
            android:label="@string/emboss_jewellery"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.About_Us"
            android:label="About App"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".helper_activity.Webview"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".users_activities.Kailash_Soni"
            android:parentActivityName=".activities.About_Us" />
        <activity
            android:name=".users_activities.Ujjwal_Soni"
            android:parentActivityName=".activities.About_Us" />
        <activity
            android:name=".users_activities.Sunil_Soni"
            android:parentActivityName=".activities.About_Us" />
        <activity
            android:name=".users_activities.Manish_Soni"
            android:parentActivityName=".activities.About_Us" />

        <service android:name=".utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".users_activities.Kishor_Soni" />
        <activity android:name=".users_activities.AnjaanSoni" />
        <activity android:name=".users_activities.Ranveer" />
        <activity android:name=".activities.Kundan_Jewellery" />
        <activity android:name=".helper_activity.Setting"></activity>
    </application>

</manifest>